[user]
	name = alpal
	email = <>

[core]
	excludesfile = /Users/alpal/.gitignore

	trustctime = false
	precomposeunicode = false

	untrackedCache = true

[color]
	ui = auto

[init]
	defaultBranch = main

[credential]
	helper = osxkeychain
