[user]
	name = alpal
	email = <>
	signingkey = 16B50065267068A2

[core]
	excludesfile = /Users/alpal/.gitignore

	trustctime = false
	precomposeunicode = false

	untrackedCache = true

[color]
	ui = auto

[init]
	defaultBranch = main

[credential]
	helper = osxkeychain

[commit]
	gpgSign = true

[tag]
	gpgSign = true
